
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #0d0d0d 0%, #000000 100%);
  color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  color: #ffe81f;
  font-family: 'Star Jedi', sans-serif;
  margin-top: 1rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* @font-face {
  font-family: 'Star Jedi';
  src: url('./assets/Starjedi.ttf') format('truetype');
} */

